.primary-btn {
  background-color: #ba7710 !important;
  box-shadow: 0px 22.4066px 30.3008px rgba(27, 27, 27, 0.25),
    inset 0px 0px 8.7406px rgba(255, 255, 255, 0.52);
  border-radius: 50px;
  color: #fff;
  @apply px-6 py-1 sm:px-6 sm:py-3 lg:px-10 font-semibold transition-all;
}

.primary-btn:hover {
  background: #14213d !important;
}
